<footer th:fragment="footer" >
	<div class="card text-white bg-dark mb-3">
		<div class="card-header">Contact Us</div>
		<div class="card-body">
			<blockquote class="blockquote mb-0">
				<p>Contact: +91-9654610063</p>
				<p>
					Mail: <a href="mailto:info@ilpeducation.in">info@ilpeducation.in</a>
				</p>
				<p>
					Address: C 56 A/4, C BLOCK ,PHASE 2 , INDUSTRIAL AREA, SECTOR 62, NOIDA UTTAR PRADESH,201309
				</p>
				<footer class="blockquote-footer">
					All Rights Reserved to ILP  <cite title="Source Title"> <br> <br>Website Developed By -Gaurav Pandey
					<br> contact at gaurav17p@gmail.com to get your branding website.</cite>
				</footer>
		</div>
	</div>
</footer>