
<header th:fragment="header">

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/"> <img
			th:src="@{/images/logo.bmp}" width="50" height="50"
			class="d-inline-block align-top" alt="ILP"
			style="font-size: 35px; font-family: Abril Fatface;">
		</a>
		<!-- Links -->
		<ul class="navbar-nav align-self-right">
			<li class="nav-item"><a class="nav-link text-white" href="/">Institute For Learning and Placement</a></li>&nbsp &nbsp &nbsp
			<li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="/course">Courses</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="/career">Career Programs</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="/about">About</a></li>

		</ul>
		<div class="navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="align-self-right">
					<a class="btn btn-outline-info" href="/course/payments" sec:authorize="isAuthenticated()" style="margin-right: 15px;">Payment History</a>
				</li>
				<li class="align-self-right dropdown">
					<a class="btn btn-outline-info dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" sec:authorize="hasRole('SUPER_ADMIN')" sec:authentication="name"></a>
						<div class="dropdown-menu bg-danger">
							<a class="dropdown-item bg-success" href="/approve">Approve Requests</a>
							<a class="dropdown-item bg-success" href="/create-user">Create Profile</a>
							<a class="dropdown-item bg-success" href="/configure/user">Configure Profile</a>
							<a class="dropdown-item bg-success" href="/cards">Create Cards</a>
							<a class="dropdown-item bg-success" href="/card/update-cards">Update Cards</a>
							<a class="dropdown-item bg-success" href="/course/entry">Create Courses</a>
							<a class="dropdown-item bg-success" href="/course/update-course">Update Course</a>
							<a class="dropdown-item bg-success" href="/college/entry">Add College</a>
						</div>
				</li>&nbsp &nbsp &nbsp
				<li class="align-self-right">
					<a class="btn btn-outline-info" href="/update/user" sec:authorize="isAuthenticated()" style="margin-right: 15px;">Update Profile</a>
				</li>
				<li class="align-self-right" style="margin-left:15px;">
					<a class="btn btn-outline-success" sec:authorize="!isAuthenticated()" href="/login">Login</a>
						<form action="#" th:action="@{/logout}" method="POST">
							<button class="btn btn-outline-danger" sec:authorize="isAuthenticated()" type="submit">Logout</button>
						</form>
				</li>
			</ul>
		</div>
	</nav>
</header>

