<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<header th:fragment="header">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/" style="font-size:3vmin;" >
		<img
			th:src="@{/images/logo.bmp}" width="30" height="30"
			class="d-inline-block align-top" alt="ILP"
			style="font-size: 30px; font-family: Abril Fatface;">
		Institute for Learning and Placement
		</a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav align-self-right">
			<li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="/course">Courses</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="/career">Career Programs</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="/about">About</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
				<li class="align-self-right dropdown">
					<a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" sec:authorize="hasRole('SUPER_ADMIN')">Add Here</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/approve">Approve Requests</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/create-user">Create Profile</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/cards">Create Cards</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/sadmin/course/entry">Create Courses</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/sadmin/college/entry">Add College</a>
						</div>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="align-self-right dropdown">
					<a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" sec:authorize="hasRole('SUPER_ADMIN')">Update Here</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/approve">Approve Requests</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/configure/user">Configure Profile</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/card/update-cards">Update Cards</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/sadmin/course/update-course">Update Course</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/sadmin/college/update">Update College</a>
						</div>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li >
					<a class="nav-link active" href="/user/course/payments" sec:authorize="isAuthenticated()">Payment History</a>
				</li>
				<li >
					<a class="nav-link active" href="/update/user" sec:authorize="isAuthenticated()" >Update Profile</a>
				</li>
			</ul>
			 
		</div>
		<ul class="nav justify-content-end">
      			<li><a class="nav-link active text-white" sec:authorize="!isAuthenticated()" href="/signup"><span class=" fas fa-sign-in-alt" style="margin-right: 3px;"></span> Sign Up</a></li>
     			 <li><a class="nav-link active text-white" sec:authorize="!isAuthenticated()" href="/login"><span class="far fa-user" style="margin-right: 3px;"></span> Login</a></li>
   				<li>
   					<form action="#" th:action="@{/logout}" method="POST">
						<button class="btn btn-dark"  sec:authorize="isAuthenticated()" type="submit"><span class="far fa-user" style="margin-right: 3px;"></span>Logout</button>
					</form>
   				</li>
   			 </ul>
	</nav>
</header>

