<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ILP | Institute for Learning and Placement</title>
	<link rel="icon" th:href="@{/images/favicon.png}" type = "image/png" sizes="32x32">
</head>
<head>
	<title>luv2code - Access Denied</title>
</head>

<body th:background="@{/images/bg-img.jpg}" class="img-fluid">

	<h2>Access Denied - You are not authorized to access this resource.</h2>

	<hr>
	
	<a th:href="@{/}">Back to Home Page</a>
	
</body>

</html>