<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ILP | Institute for Learning and Placement</title>
	<link th:href="@{/images/logo.ico}" rel="shortcut icon" type="image/x-icon" >
</head>
<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body th:background="@{/images/normal-background.png}" class="img-fluid">

	<div class="table-responsive" style="padding: 10px;padding-top: 35px;">
		<table class="table table-md table-dark">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Phone Number</th>
					<th scope="col">College</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paidUser : ${paidUsers}">
					<th th:text="${paidUser.firstName+ ' '+paidUser.lastName}"></th>
					<td th:text="${paidUser.phoneNumber}"></td>
					<td th:text="${paidUser.college?.collegeName}"></td>
					<td>
						<a th:href="@{/view/transaction/}+${paidUser.id}" class="btn btn-outline-success btn-sm">View Details</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
