<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ILP | Institute for Learning and Placement</title>
	<link rel="icon" th:href="@{/images/favicon.png}" type = "image/png" sizes="32x32">
</head>
<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body th:background="@{/images/normal-background.png}" class="img-fluid">
	<div style="padding-top:25px;" align="center">
		<strong th:text="${msg}" style="font-size:20px;" align="center">
		</strong>
	</div>
	<div style="margin: 40px;">
		<form th:action="@{/cards}" th:object="${card}" method="POST">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cardTitle">Card Title</label> <input type="text"
						class="form-control" th:field="*{cardTitle}" id="cardTitle" placeholder="Card Title" required="required">
				</div>
				<div class="form-group col-md-6">
					<label for="a">Image Name</label> 
					<input type="text" class="form-control" th:field="*{imageName}" placeholder="imageName" required="required">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="alternateName">Alternate Image Name</label> 
					<input type="text" class="form-control" id="alternateName" th:field="*{alternateName}" placeholder="Alternate Image Name" required="required">
				</div>
				<div class="form-group col-md-2" >
					<label for="roles">Course Associated</label> 
					<select id="college" class="form-control"  name="courseId" required="required">
						<option  selected="selected" value="" disabled>Select</option>
						<option th:each="course : ${courses}" th:value="${course?.courseId}" th:text="${course.courseTitle}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="inputAddress2">Card Description Text</label> 
				<input type="text" th:field="*{cardText}" class="form-control" id="cardText" placeholder="Card Description">
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck" name="isCareerProgram" th:field="*{isCareerProgram}" >
					<label class="form-check-label" for="gridCheck"> Career Program</label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
