<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ILP | Institute for Learning and Placement</title>
	<link rel="icon" th:href="@{/images/favicon.png}" type = "image/png" sizes="32x32">
</head>
<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body th:background="@{/images/normal-background.png}" class="img-fluid">
	<div class="card text-white bg-dark mb-3" style="padding: 50px;">
		<h5 class="card-header" th:text="'By : '+${course.faculty}" />
		<div class="card-body">
			<h5 class="card-title" th:text="${course.courseTitle}" />
			<p class="card-text" th:text="${course.courseDescription}"  />
			<ul class="list-group list-group-flush text-dark"  th:each="topic,itr : ${syllabus}" style="margin:8px;font-weight: bold;">
				<li class="list-group-item" th:text="${itr.index+1}+' : '+ ${topic}"/>
			</ul>
			<a th:href="@{/user/course/} + ${course.courseId} + @{/enroll/}" class="btn btn-success" style="margin-top:5px;" >Enroll</a>
			<a th:href="@{/user/course/} + ${course.courseId}" class="btn btn-success" style="margin-top:5px;" sec:authorize="!isAuthenticated()">Fee Details</a>
			<p style="margin-top: 25px;" class="card-footer text-white" th:text="'Course Fee : '+${course.courseFee} + ' /- Rs'" sec:authorize="isAuthenticated()"/>
		</div>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
