<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body th:background="@{/images/loginBackground.jpg}" class="img-fluid">
	<div class="container border border-light" style="padding-top: 12px;margin-top: 50px;">
		
		<form th:action="@{/authenticateTheUser}" method="POST"
			class="form-horizontal">
			<div class="form-group">
				<label for="exampleInputEmail1" class="text-light">Username</label> <input
					type="text" class="form-control" id="exampleInputEmail1"
					name="username" aria-describedby="emailHelp" required="required" pattern="^[a-zA-Z0-9]*$" title="Username should be alpha numeric and can't contain spaces."
					placeholder="Enter email"> <small id="emailHelp"
					class="form-text text-muted">We'll never share your email
					with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1" class="text-light">Password</label> <input
					type="password" class="form-control" id="exampleInputPassword1"
					name="password" placeholder="Password">
			</div>
			<div class="form-group">
				<a href="/signup" class="btn btn-link text-light" style="font-size: 20px;">Create
					Your Account Here</a>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<div class="form-group" style="padding-top: 30px;">
				<div class="col-xs-15">
					<div>
						<div th:if="${param.error}">
							<div class="alert alert-danger col-xs-offset-1 col-xs-10">
								Invalid username and password.</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-success col-xs-offset-1 col-xs-10">
								You have been logged out.</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
