<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ILP | Institute for Learning and Placement</title>
	<link rel="icon" th:href="@{/images/favicon.png}" type = "image/png" sizes="32x32">
</head>
<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body th:background="@{/images/normal-background.png}" class="img-fluid" >
	<div class="table-responsive" style="padding: 10px;">
		<table class="table table-dark">
			<thead>
				<tr >
					<th style="font-size: 23px;">Payment Approved</th>
				</tr>
				<tr>
					<th scope="col">Course</th>
					<th scope="col">Course Fee</th>
					<th scope="col">Amount Paid</th>
					<th scope="col">Balanced Amount</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" paymentDetails : ${paymentList}">
					<th scope="col" th:text=${paymentDetails.courseTitle}></th>
					<th scope="col" th:text=${paymentDetails.actualAmount}></th>
					<th scope="col" th:text=${paymentDetails.amountPaid}></th>
					<th scope="col" th:text=${paymentDetails.balancedAmount}></th>
					<th scope="col" th:if="${paymentDetails.balancedAmount} > 0"><a th:href="@{/user/course/} + ${paymentDetails.courseId} + @{/enroll/}" class="btn btn-outline-success btn-sm">Pay Here</a>
					<th scope="col" th:if="${paymentDetails.balancedAmount} <= 0" style="color:green;"><strong class="far fa-check-circle">Payment Done</strong><th>
					</th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-responsive" style="padding: 10px;padding-top: 0px;">
		<table class="table table-dark">
			<thead>
				<tr>
					<th style="font-size: 23px;">Transaction Pending For Approval</th>
				</tr>
				<tr>
					<th scope="col">Course Fee</th>
					<th scope="col">Transaction Amount</th>
					<th scope="col">Transaction ID</th>
					<th scope="col">Transaction Date</th>
					<th scope="col">Course</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="payment : ${pendingPaymentList}" th:if="${payment.transaction.isValid} == false">
					<th scope="col" th:text=${payment.actualAmount}></th>
					<th scope="col" th:text=${payment.transaction.amount}></th>
					<th scope="col" th:text=${payment.transaction.transactionId}></th>
					<th scope="col" th:text=${payment.transaction.time}></th>
					<th scope="col" th:text=${payment.courseTitle}></th>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
