<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ILP | Institute for Learning and Placement</title>
	<link rel="icon" th:href="@{/images/favicon.png}" type = "image/png" sizes="32x32">
</head>
<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body th:background="@{/images/normal-background.png}" class="img-fluid">
	<h1 th:text="${welcome}" />
	<div class="card" style="width: 18rem;">
		<div class="card-header" th:text=${course.courseTitle}></div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item" th:text=${course.courseFee}></li>
			<li class="list-group-item" th:text=${course.duration}></li>
		</ul>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
