<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ILP | Institute for Learning and Placement</title>
	<link rel="icon" th:href="@{/images/favicon.png}" type = "image/png" sizes="32x32">
</head>
<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body th:background="@{/images/normal-background.png}" class="img-fluid">
	<div class="container" style="padding-top:15px;" >
		<a th:each="crs : ${courses}" th:if="${crs.disabled} == 'disable'" th:href="@{/sadmin/course/}+${crs.courseId}" class="badge badge-pill badge-danger" th:text="${crs.courseTitle}" style="margin-right: 8px;"></a>
		<a th:each="crs : ${courses}" th:if="${crs.disabled} == 'enable'" th:href="@{/sadmin/course/}+${crs.courseId}" class="badge badge-pill badge-success" th:text="${crs.courseTitle}" style="margin-right: 8px;"></a>
	</div>
	<div class="d-flex justify-content-center" style="padding-top: 20px;">
		<strong th:text="${msg}" style="font-size:20px;" align="center">
		</strong>
	</div>
	<div style="margin: 40px;">
		<form th:action="@{/sadmin/course/update}" th:object="${course}" method="POST">
		<input type="hidden" th:field="*{courseId}" th:value="${course.courseId}">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="courseTitle">Course Title</label>
					 <input type="text" th:field="*{courseTitle}" th:value="${course.courseTitle}" class="form-control" required="required" id="courseTitle" placeholder="Course Title">
				</div>
				<div class="form-group col-md-4">
					<label for="inputPassword4">Course Faculty</label> 
					<input type="text" class="form-control" th:field="*{faculty}" th:value="${course.faculty}" placeholder="Faculty Name" required="required">
				</div>
				<div class="form-group col-md-4" >
					<label for="roles">Course Status</label> 
					<select id="college" class="form-control"  name="disabled" required="required" >
						<option  value="" selected="selected" disabled>Select</option>
						<option value="enable" th:selected="${course.disabled=='enable'}">Enable</option>
						<option value="disable" th:selected="${course.disabled=='disable'}">Disable</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputtext4">Course Duration</label>
					 <input type="text" class="form-control" th:value="${course.duration}" th:field="*{duration}" placeholder="Duration Of Course (Specify Months, Days, Years)" required="required">
				</div>
				<div class="form-group col-md-4">
					<label for="inputCity">Coupon</label> 
					<input type="text" class="form-control" th:value="${course.coupon}" th:field="*{coupon}" id="coupon" placeholder="Type in your coupon code" >
				</div>
				<div class="form-group col-md-4">
					<label for="inputPassword4">Course Fee</label> 
					<input type="number" class="form-control" th:field="*{courseFee}" min="1000" th:value="${course.courseFee}" placeholder="Course Fee" required="required">
				</div>
			</div>
				<div class="form-group">
					<label for="inputtext4">Course syllabus</label>
					<!-- <input type="text" class="form-control" name="syllabus" th:value="${course.syllabus}" th:field="*{syllabus}" placeholder="Enter Syllabus Seperated with commas (,)" required="required"> -->
					<textarea rows="10" class="form-control"  name="syllabus" th:value="${course.syllabus}" th:field="*{syllabus}"
					 placeholder="Enter Syllabus Seperated with commas (;)" required="required">
					</textarea>
				</div>

			<div class="form-group">
				<label for="inputAddress2">Course Description</label> 
				<input type="text" class="form-control" id="courseDescription" th:value="${course.courseDescription}" th:field="*{courseDescription}" placeholder="Course Description" required="required">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
