<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<!-- <div class="card-group" style="margin-top: 15px;">
	<div class="card text-white bg-dark mb-3"
		th:each="card : ${home.cards}">
		<div style="height: 250px; width: 250px; align-self: center">
			<img th:src="@{/images/}+${card.imageName}"
				class="card-img-top img-fluid rounded-circle"
				th:alt="${card.alternateName}">
		</div>
		<div class="card-body ">
			<h5 class="card-title" th:text="${card.cardTitle}"></h5>
			<p class="card-text" th:text="${card.cardText}"
				style="text-decoration: bold;"></p>
			<a th:href="@{/course/}+${card.courseId}" class="btn btn-primary">Explore</a>
		</div>
	</div>
</div> -->
</head>
<body th:background="@{/images/normal-background.png}" class="img-fluid">
	<div class="card-deck" style="padding: 20px;">
		<div class="card bg-dark text-white" style="width: 18rem;" th:each="card : ${home.cards}" >
			<img th:src="@{/images/}+${card.imageName}" class="card-img-top img-fluid" style="height: 19rem;width: 19rem;" alt="cardImage">
			<div class="card-body">
				<h5 class="card-title" th:text="${card.cardTitle}"></h5>
				<p class="card-text" th:text="${card.cardText}"></p>
				<a th:href="@{/course/}+${card.courseId}" class="btn btn-primary">Explore</a>
			</div>
		</div>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>

